<!DOCTYPE html>
<html>
  <head>
    <title>ExperienceRubocop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='app-title navbar navbar-expand-md navbar-light bg-dark'>
      <%= link_to 'Experience Rubocop App', root_path, class: 'navbar-brand text-white' %>
    </header>
    <div class='container'>
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </div>
  </body>
</html>
